@font-face {
  font-family: "Font";
  src: url("Font.ttf") format("truetype");
}

body {
margin: 20px;
}
#calendar {
max-width: 900px;
margin: 0 auto;
margin-top: 20px;
}
#loadBtn {
padding: 8px 16px;
font-size: 14px;
cursor: pointer;
background-color: #000; /* 검은색 */
color: #fff;           /* 흰색 */
font-family: "Font", sans-serif;
}

#visitBtn {
padding: 8px 16px;
font-size: 14px;
cursor: pointer;
background-color: #000; /* 검은색 */
color: #fff;           /* 흰색 */
font-family: "Font", sans-serif;
}

#eventList{
  padding: 8px 16px;
  font-size: 14px;
  background-color: #000; /* 검은색 */
  color: #fff;           /* 흰색 */
  font-family: "Font", sans-serif;
}

h1{
  font-family: "Font", sans-serif;
  cursor: pointer;
}

/* FullCalendar 전체에 폰트 적용 */
.fc {
font-family: "Font", sans-serif !important;
}
